/* JavaFX CSS - Leave this comment until you have at least create one rule which uses -fx-Property */
.hoverButtonStop {
  -fx-graphic: url('file:icons/Stop_Disabled.png');
  -fx-background-color: transparent;
}


.hoverButtonStop:hover {
  -fx-graphic: url('file:icons/Stop.png');
}